body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* //////////////////////////
    ** NAV BAR **
////////////////////////// */

nav {
  display: flex;
  width: 100vw;
  height: 5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #e4c3ad;
}
.navlinks {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  padding: 0.5em;
}
.navlinks li {
  list-style: none;
}
.link {
  font-size: 1.5em;
  text-decoration: none;
}
.link:hover {
  text-style: italic;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
}
#name, h4 {
  display: inline;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px black;
}
#name {
  font-family: 'Waterfall', cursive;
  font-size: 45px;
}
h4 {
  font-size: 15px;
  margin: auto;
}

/* //////////////////////////
    ** COLOR SCHEME PICKER **
////////////////////////// */

/* button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.colorselect {
  height: 100px;
  width: 100px;
  overflow: scroll;
  scrollbar-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
} */

/* //////////////////////////
    ** MAIN CONTAINER **
////////////////////////// */

.container {
  color: #e4c3ad;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 3em;
  height: 500px;
  flex-grow: 1;
  width: 40%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 1px solid black;
  text-align: center;
  padding: 2em;
  font-size: 20px;
  overflow: scroll;
  border-radius: 30px;
}
#headshot {
  border-radius: 50%;
  height: 200px;
  width: 160px;
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* //////////////////////////
    ** LINK CONTAINER **
////////////////////////// */

.linkcontainer {
  display: flex;
  height: 4em;
  width: 100vw;
  justify-content: space-evenly;
}
.linkcontainer a {
  text-decoration: none;
  margin-top: 1em;
  font-size: 1.5em;
}

/* //////////////////////////
    ** COLORS & FONTS **
////////////////////////// */

body,
.btn10 {
    background-color: #FAE1DF;
}
.linkcontainer,
.container
{
  background-color: #472836;
}
.icon:hover,
#name,
h4,
.link:hover
{
  color: #FAE1DF;
}
#headshot,
.container {
    border: .5px solid #9ea3b0;
}
.link,
.icon,
h5{
  color: #463F3A;
}
.container,
h5 {
  font-family:'Josefin Slab', serif;
}
.link,
h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.btn1 {
  background-color: #978897;
}
.btn2 {
  background-color: #EEF1BD;
}
.btn3 {
  background-color: #92AC86;
}
.btn4 {
  background-color: #00171f;
}
.btn5 {
  background-color: #E8E9F3;
}
.btn6 {
  background-color: #B48B7D;
}
.btn7 {
  background-color: #EBCFB2;
}
.btn8 {
  background-color: #DBDBDB;
}
.btn9 {
  background-color: #D3BCC0;
}
.btn10 {
  background-color: #FAE1DF;
}
