body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

/* //////////////////////////
    ** NAV BAR **
////////////////////////// */

nav {
  display: flex;
  width: 100vw;
  height: 5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
}
#name, span {
  display: inline;
  padding: 0;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
  margin-left: 300px;
}
#name {
  font-family: 'Waterfall', cursive;
  font-size: 45px;
  text-align: center;
}
span {
  font-size: 30px;
  margin: 0 auto;
}
a {
  color: black;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
}
a:hover {
  color: #500202;
}

/* //////////////////////////
    ** COLOR SCHEME PICKER **
////////////////////////// */

/* button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.colorselect {
  height: 100px;
  width: 100px;
  overflow: scroll;
  scrollbar-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
} */

/* //////////////////////////
    ** MAIN CONTAINER **
////////////////////////// */

.container {
  color: black;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 3em;
  height: 500px;
  flex-grow: 1;
  width: 40%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 1px solid white;
  text-align: center;
  padding: 2em;
  font-size: 20px;
  overflow: scroll;
  border-radius: 10px;
  
}
#headshot {
  border-radius: 50%;
  height: 200px;
  width: 160px;
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.icon {
  width: 90px;
}
/* //////////////////////////
    ** LINK CONTAINER **
////////////////////////// */

.linkcontainer {
  display: flex;
  height: 4em;
  width: 100vw;
  justify-content: space-evenly;
}
.linkcontainer a {
  text-decoration: none;
  margin-top: 1em;
  font-size: 1.5em;
}
.skills {
  background-color: white;
  margin: 50px;
}
/* //////////////////////////
    ** COLORS & FONTS **
////////////////////////// */

body{
  background-color: black;
}
.container,
.linkcontainer
 {
    background-color: white;
}
.icon:hover,

.link:hover
{
  color: #361524;
}
#headshot,
.container {
    border: .5px solid #c2c2c2;
}
.link,
.icon,
h5,
#name,
h4{
  color: black;
}
.container,
h5 {
  font-family:'Josefin Slab', serif;
}
.link,
h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* .btn1 {
  background-color: #978897;
}
.btn2 {
  background-color: #EEF1BD;
}
.btn3 {
  background-color: #92AC86;
}
.btn4 {
  background-color: #00171f;
}
.btn5 {
  background-color: #E8E9F3;
}
.btn6 {
  background-color: #B48B7D;
}
.btn7 {
  background-color: #EBCFB2;
}
.btn8 {
  background-color: #DBDBDB;
}
.btn9 {
  background-color: #D3BCC0;
}
.btn10 {
  background-color: #FAE1DF;
} */
/* //////////////////////////
    ** CAROUSEL **
////////////////////////// */
.carousel {
  display:flex;
  flex-direction: column;
  color: white;
  width: 80%;
  align-self: center;
  margin-bottom: 50px;
}
.carousel img {
  border: 1px solid #472836;
  padding: 5px;
}
.projbutton {
	align-self: center;
	background-color: white;
	color: black;
	padding: .4em;
  margin: 1em;
	text-align: center;
	box-shadow: 1px 1px #000;
  width: 20px;
  height: 20px;
}
.projbutton:hover {
	cursor: pointer;
	background-color: #500202;
	box-shadow: 1px 1px #000;
	color: white;
}
.projbutton:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h1 {
  color: white;
  font-family: 'Waterfall', cursive;
  font-size: 60px;
  text-shadow: 1px 4px 1px #500202;
}
.carousel a {
  color: #9ea3b0;
  font-size: 30px;
}
.proj {
  overflow: scroll;
  scrollbar-style: none;
}
/* //////////////////////////
    ** TOP IMAGE **
////////////////////////// */

.topimg {
  display: flex;
  flex-grow: 1;
  margin: 5em 15em 1em 5em;
  margin-left: 7em;
  height: 500px;

}
.topimg img {
  height: 400px;
  width: 300px;
  float: left;
  margin-right: 2em;
}
.topimg h1,
.topimg p {
  text-align: center;
}
.topimg .proj:first-of-type {
  display: none;
}

/* //////////////////////////
    ** BOTTOM IMAGE **
////////////////////////// */

.botimg {
  display:flex;
  flex-grow: 5;
  margin-left: 12em;
  margin-bottom: 2em;
  height: 400px;
}
.botimg img {
  height: 300px;
  width: 400px;
  float: right;
  margin-right: 2em;
}
.botimg h1,
.botimg p {
  text-align: center;
}
.botimg .proj:first-of-type {
  display: none;
}

.info {
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
}
h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}