body {
  display: flex;
  background-color: #FAE1DF;
  margin: 0 auto;
  flex-direction: column;
}

/* //////////////////////////
    ** NAV BAR **
////////////////////////// */
nav {
  display: flex;
    background-color: #e4c3ad;
  width: 100vw;
  box-shadow: 0 2px 2px -1px black;
}
.navlinks {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  padding: 0.5em;
}
.navlinks li {
  list-style: none;
}
.navlinks a {
  color: #472836;
  font-size: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
}
.navlinks a:hover {
  color: #FAE1DF;
  text-style: italic;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
}
#name, h4 {
  color: #FAE1DF;
  display: inline;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px black;
}
#name {
  font-family: 'Waterfall', cursive;
  font-size: 45px;
}
h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15px;
  margin: auto;
}
/* //////////////////////////
    ** CAROUSEL **
////////////////////////// */
img {
  border: 1px solid #472836;
  padding: 5px;
}
.projbutton {
	align-self: center;
	background: #9ea3b0;
	color: #472836;
	padding: .4em;
  margin: 1em;
	text-align: center;
	box-shadow: 1px 1px #472836;
  width: 20px;
  height: 20px;
}
.projbutton:hover {
	cursor: pointer;
	background: #e4c3ad;
	box-shadow: 1px 1px #9ea3b0;
	color: white;
}
.projbutton:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* //////////////////////////
    ** TOP IMAGE **
////////////////////////// */

.topimg {
  margin: 5em 10em 1em 5em;
  height: 500px;
  width: 700px;
}
.topimg img {
  height: 400px;
  width: 300px;
  float: left;
  margin-right: 2em;
}
.topimg h1,
.topimg p {
  text-align: center;
}
.topimg .proj:first-of-type {
  display: none;
}

/* //////////////////////////
    ** BOTTOM IMAGE **
////////////////////////// */

.botimg {
  margin: 1em 30em 3em 10em;
  margin-left: 30em;
  height: 700px;
  width: 600px;
}
.botimg img {
  height: 300px;
  width: 400px;
  float: right;
  margin-right: 2em;
}
.botimg h1,
.botimg p {
  text-align: center;
}
.botimg .proj:first-of-type {
  display: none;
}

/* //////////////////////////
    ** LINK CONTAINER **
////////////////////////// */

.linkcontainer {
  display: flex;
  height: 4em;
  width: 100vw;
  justify-content: space-evenly;
  background-color: #472836;
}
.linkcontainer a {
  text-decoration: none;
  color: #9ea3b0;
  margin-top: 1em;
  font-size: 1.5em;
}
.linkcontainer a:hover {
  color: #e4c3ad;
}
