/* font-family: 'Waterfall', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Yanone Kaffeesatz', sans-serif; */
body {
  display: flex;
  flex-direction: column;
  background-color: #FAE1DF;
  margin: 0 auto;
}

/* //////////////////////////
    ** NAV BAR **
////////////////////////// */
nav {
  display: flex;
  background-color: #e4c3ad;
  width: 100vw;
  box-shadow: 0 2px 2px -1px black;
}
.navlinks {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  padding: 0.5em;
}
.navlinks li {
  list-style: none;
}
.navlinks a {
  color: #472836;
  font-size: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
}
.navlinks a:hover {
  color: #FAE1DF;
  text-style: italic;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
}
#name, h4 {
  color: #FAE1DF;
  display: inline;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px black;
}
#name {
  font-family: 'Waterfall', cursive;
  font-size: 45px;
}
h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15px;
  margin: auto;
}
/* //////////////////////////
    ** HEADINGS **
////////////////////////// */
.resume {
  display: flex;
  flex-direction: column;
}
.resume ul {

  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}
.experience ul {
  list-style-type: none;
}

.excircle, .skillcircle {
  display: flex;
  background-color: #472836;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resume h1 {
  margin: 1em;
  z-index: 1;
  align-self: center;
  font-family: 'Waterfall', cursive;
  font-size: 70px;
  color: #e4c3ad;
  text-shadow: 5px 2px 0px #000;
}
span {
  text-shadow: 5px 2px 0px #472836;
}
.resume h3 {
  text-shadow: 4px 3px 0 #7A7A7A;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  color: #472836;
}
.skills h1 {
  margin-left: 2em;
}
.skills {
  display: flex;
  flex-direction: row;
}
.skills ul {
  margin-left: 7em;
  padding-left: 2em;
  list-style-type: square;
}
